@import '../shared/styles/vars.scss';

:host {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 752px;
  height: 722px;
  left: 344px;
  top: 424px;
  background: $white;
  box-shadow: 0px 1px 5px rgba(24, 17, 3, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(24, 17, 3, 0.14);
  border-radius: 4px;

  h2.title {
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(9, 9, 9, 0.6);
  }
}
