<main class="find-movie">
  <section class="find-movie">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h2 class="title">Find A Movie</h2>
          <p class="subtitle">Select Theater</p>
          <div *ngIf="cinemas$ | async as cinemas">
            <span *ngFor="let cinema of cinemas | sort: 'name'; let i = index">
              <button type="button" (click)="changeTheater(cinema.id)" class="btn btn-primary theaters">{{ cinema.name}}</button>
            </span>
          </div>
          <div *ngIf="movies$ | async as movies">
            <span *ngFor="let movie of movies | sort: 'title'; let i = index">
              <button type="button" class="btn btn-primary">{{ movie.title }}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
